@import url("http://use.fontawesome.com/releases/v5.10.2/css/all.css");
body {
    background: rgb(238, 238, 238);
}

.button {
    border-radius: 25px;
    border: 1px solid rgb(51, 51, 51);
    padding: 8px 12px;
    margin-right: 12px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    cursor: pointer;
    outline: none;
}

.fill {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
}

button.button.hover:hover {
    background: rgb(251, 251, 251);
    border-color: rgb(0, 102, 0);
    color: rgb(0, 102, 0);
}

button.button.fill.hover:hover {
    background: rgb(0, 102, 0);
    color: rgb(251, 251, 251);
}